In [1]:
import pandas as pd

train_data = pd.read_csv("plant-data/plant-train.csv")
test_data = pd.read_csv("plant-data/plant-test.csv")

In [2]:
print(train_data["target/label"].value_counts())
print(test_data["target/label"].value_counts())

virginica    40
setosa       40
Name: target/label, dtype: int64
virginica    10
setosa       10
Name: target/label, dtype: int64

In [3]:
from sklearn.utils import shuffle
train_data = shuffle(train_data)
test_data = shuffle(test_data)

In [4]:
X_train = train_data.loc[:, train_data.columns != 'target/label']
Y_train = train_data.loc[:, train_data.columns == 'target/label']
x_test = test_data.loc[:, test_data.columns != 'target/label']
y_test = test_data.loc[:, test_data.columns == 'target/label']

In [5]:
Y_train.values.ravel()

array(['setosa', 'virginica', 'virginica', 'setosa', 'setosa',
       'virginica', 'setosa', 'virginica', 'setosa', 'virginica',
       'virginica', 'virginica', 'setosa', 'setosa', 'setosa', 'setosa',
       'virginica', 'setosa', 'virginica', 'setosa', 'virginica',
       'virginica', 'setosa', 'setosa', 'virginica', 'setosa',
       'virginica', 'setosa', 'virginica', 'setosa', 'setosa',
       'virginica', 'setosa', 'virginica', 'setosa', 'virginica',
       'virginica', 'virginica', 'setosa', 'setosa', 'setosa', 'setosa',
       'virginica', 'virginica', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'virginica', 'virginica', 'virginica', 'setosa',
       'virginica', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'virginica', 'virginica', 'setosa', 'virginica', 'setosa',
       'setosa', 'virginica', 'setosa', 'virginica', 'virginica',
       'virginica', 'virginica', 'setosa', 'virginica', 'virginica',
       'setosa', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica'], dtype=object)

In [6]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 10, metric='euclidean')

In [7]:
knn.fit(X_train, Y_train)

C:\Users\Smitesh\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(metric='euclidean', n_neighbors=10)

In [8]:
y_pred = knn.predict(x_test)

In [9]:
from sklearn.metrics import accuracy_score, precision_recall_fscore_support

In [10]:
accuracy_score(y_test, y_pred)

1.0

In [11]:
y_test

   target/label
16    virginica
6        setosa
18    virginica
15    virginica
10    virginica
12    virginica
14    virginica
13    virginica
1        setosa
0        setosa
17    virginica
2        setosa
3        setosa
7        setosa
19    virginica
11    virginica
5        setosa
4        setosa
8        setosa
9        setosa

array(['virginica', 'setosa', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'setosa', 'setosa',
       'virginica', 'setosa', 'setosa', 'setosa', 'virginica',
       'virginica', 'setosa', 'setosa', 'setosa', 'setosa'], dtype=object)