In [3]:
import pandas as pd

train_data = pd.read_csv("plant-data/plant-train.csv")
test_data = pd.read_csv("plant-data/plant-test.csv")

In [4]:
test_data

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm,target/label
0,4.9,3.1,1.5,0.1,setosa
1,5.4,3.7,1.5,0.2,setosa
2,4.8,3.4,1.6,0.2,setosa
3,4.8,3.0,1.4,0.1,setosa
4,4.3,3.0,1.1,0.1,setosa
5,4.8,3.0,1.4,0.3,setosa
6,5.1,3.8,1.6,0.2,setosa
7,4.6,3.2,1.4,0.2,setosa
8,5.3,3.7,1.5,0.2,setosa
9,5.0,3.3,1.4,0.2,setosa
10,6.7,3.1,5.6,2.4,virginica
11,6.9,3.1,5.1,2.3,virginica
12,5.8,2.7,5.1,1.9,virginica
13,6.8,3.2,5.9,2.3,virginica
14,6.7,3.3,5.7,2.5,virginica
15,6.7,3.0,5.2,2.3,virginica
16,6.3,2.5,5.0,1.9,virginica
17,6.5,3.0,5.2,2.0,virginica
18,6.2,3.4,5.4,2.3,virginica
19,5.9,3.0,5.1,1.8,virginica
20,5.9,3.0,5.1,1.8,setosa
21,5.0,3.3,1.4,0.2,virginica

In [5]:
print(train_data["target/label"].value_counts())
print(test_data["target/label"].value_counts())

virginica    40
setosa       40
Name: target/label, dtype: int64
virginica    11
setosa       11
Name: target/label, dtype: int64

In [6]:
from sklearn.utils import shuffle

train_data = shuffle(train_data)
test_data = shuffle(test_data)

In [7]:
X_train = train_data.loc[:, train_data.columns != 'target/label']
Y_train = train_data.loc[:, train_data.columns == 'target/label']
x_test = test_data.loc[:, test_data.columns != 'target/label']
y_test = test_data.loc[:, test_data.columns == 'target/label']

In [8]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(random_state=1,solver='lbfgs', multi_class='auto')

In [9]:
lr.fit(X_train, Y_train.values.ravel())

LogisticRegression(random_state=1)

In [10]:
y_pred = lr.predict(x_test)

In [11]:
from sklearn.metrics import accuracy_score, precision_recall_fscore_support

In [12]:
accuracy_score(y_test, y_pred)

0.9090909090909091

In [10]:
precision_recall_fscore_support(y_test, y_pred)

(array([1., 1.]),
 array([1., 1.]),
 array([1., 1.]),
 array([10, 10], dtype=int64))

In [20]:
print(y_pred"/n/n", y_test.values.ravel())

['virginica' 'virginica' 'setosa' 'virginica' 'virginica' 'setosa'
 'setosa' 'virginica' 'setosa' 'virginica' 'virginica' 'virginica'
 'setosa' 'setosa' 'virginica' 'setosa' 'setosa' 'setosa' 'virginica'
 'setosa' 'setosa' 'virginica'] /n/n ['virginica' 'virginica' 'setosa' 'virginica' 'virginica' 'setosa'
 'setosa' 'virginica' 'virginica' 'virginica' 'virginica' 'virginica'
 'setosa' 'setosa' 'virginica' 'setosa' 'setosa' 'setosa' 'virginica'
 'setosa' 'setosa' 'setosa']

In [19]:
y_pred[0] = 'virginica'

In [20]:
y_pred

array(['virginica', 'virginica', 'setosa', 'virginica', 'virginica',
       'virginica', 'setosa', 'setosa', 'setosa', 'setosa', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'setosa',
       'virginica', 'setosa', 'setosa', 'setosa'], dtype=object)

In [21]:
accuracy_score(y_pred, y_test)

0.95

In [18]:
y_test

   target/label
9        setosa
11    virginica
3        setosa
14    virginica
10    virginica
12    virginica
2        setosa
8        setosa
4        setosa
5        setosa
17    virginica
13    virginica
18    virginica
15    virginica
19    virginica
0        setosa
16    virginica
7        setosa
1        setosa
6        setosa