In [95]:
import pandas as pd
import numpy as np

In [96]:
import io
%cd "C:\Users\DELL\Desktop\Aditi UOG\ML"

C:\Users\DELL\Desktop\Aditi UOG\ML

In [97]:
wildfire=pd.read_csv('wildfirenuig.csv')

In [98]:
wildfire.head()

,fire,year,temp,humidity,rainfall,drought_code,buildup_index,day,month,wind_speed
0,no,2015,28,59,0.0,8.06,3.47,1,6,19
1,no,2010,30,61,1.3,8.17,4.03,2,6,13
2,no,2009,26,83,13.1,8.08,3.59,3,6,22
3,no,2017,25,87,2.5,7.18,2.42,4,6,15
4,no,2014,28,77,0.0,14.98,4.63,5,6,18

In [99]:
wildfire.tail()

,fire,year,temp,humidity,rainfall,drought_code,buildup_index,day,month,wind_speed
199,yes,2017,31,67,0.0,45.15,17.89,26,9,15
200,no,2017,29,89,4.4,8.74,6.52,27,9,15
201,no,2009,27,88,0.5,8.87,3.71,28,9,30
202,no,2016,25,56,0.1,15.54,6.10,29,9,20
203,no,2012,24,62,0.2,16.72,5.75,30,9,17

In [100]:
wildfire.shape

(204, 10)

In [101]:
wildfire.describe()

,year,temp,humidity,rainfall,drought_code,buildup_index,day,month,wind_speed
count,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000
mean,2011.975490,31.906863,62.279412,0.823529,48.537647,16.542304,15.691176,7.553922,16.446078
std,3.320987,3.814175,15.209388,2.117959,49.133366,14.634994,8.907722,1.196067,3.098074
min,2007.000000,22.000000,21.000000,0.000000,7.180000,1.320000,1.000000,6.000000,6.000000
25%,2009.000000,29.000000,52.750000,0.000000,10.627500,6.067500,8.000000,6.000000,14.750000
50%,2012.000000,32.000000,63.000000,0.000000,30.550000,11.535000,15.500000,8.000000,16.000000
75%,2015.000000,35.000000,74.250000,0.600000,62.367500,22.665000,24.000000,9.000000,18.000000
max,2017.000000,43.000000,92.000000,16.800000,221.350000,68.270000,31.000000,9.000000,30.000000

In [102]:
from sklearn.preprocessing import LabelEncoder

In [103]:
le = LabelEncoder()

In [104]:
wildfire['fire']=le.fit_transform(wildfire['fire'])

In [105]:
wildfire.head()

,fire,year,temp,humidity,rainfall,drought_code,buildup_index,day,month,wind_speed
0,0,2015,28,59,0.0,8.06,3.47,1,6,19
1,0,2010,30,61,1.3,8.17,4.03,2,6,13
2,0,2009,26,83,13.1,8.08,3.59,3,6,22
3,0,2017,25,87,2.5,7.18,2.42,4,6,15
4,0,2014,28,77,0.0,14.98,4.63,5,6,18

In [106]:
wildfire.tail()

,fire,year,temp,humidity,rainfall,drought_code,buildup_index,day,month,wind_speed
199,1,2017,31,67,0.0,45.15,17.89,26,9,15
200,0,2017,29,89,4.4,8.74,6.52,27,9,15
201,0,2009,27,88,0.5,8.87,3.71,28,9,30
202,0,2016,25,56,0.1,15.54,6.10,29,9,20
203,0,2012,24,62,0.2,16.72,5.75,30,9,17

In [107]:
from sklearn.model_selection import train_test_split

In [108]:
X=wildfire.drop(['fire'],axis=1)

In [109]:
y=wildfire['fire']

In [110]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)

In [111]:
X_train.shape

(136, 9)

In [112]:
y_train.shape

(136,)

In [113]:
#from sklearn.linear_model import Perceptron
#per=Perceptron()

In [114]:
#per.fit(X_train,y_train)
#y_pred=per.predict(X_test)

In [115]:
#from sklearn.metrics import accuracy_score
#print(accuracy_score(y_test,y_pred))

In [116]:
import numpy as np
class APerceptron:
    def __init__(self,learn_rate=0.1,n_iter=1000):
        self.lr=learn_rate
        self.epoch=n_iter
        self.weights=None
        self.bias=0
       
       
    def fit(self,X,y):
        n_samples,n_features=X.shape
       
        self.weights=np.zeros(n_features)  # init paramenters
        self.bias=0
       
        for self.epoch in range(self.epoch):
            for i in range(X.shape[0]):
                y_pred=self.activation_function(np.dot(self.weights , X[i])+self.bias)  #learning weight
           
           
            self.weights=self.weights+self.lr*(y[i]-y_pred)*X[i]  # Perceptron Update Rule
            self.bias=self.bias+self.lr*(y[i]-y_pred)  # Perceptron Update rule
           
           
        #print(self.weight)
        #print(self.bias)
       
    def activation_function(self,activation):
        return 1/(1+np.exp(-activation))
        """"if activation>=0:
            return 1
        else:
            return 0
        """
       
    def predict(self,X):
        """y_pred=[]
        for i in range(X.shape[0]):
            y_pred.append(self.activation_function(np.dot(self.weights,X[i])+self.bias))
        return y_pred"""
        return self.activation_function(np.dot(X, self.weights) + self.bias)

In [117]:
# Testing
if __name__ == "__main__":
    # Imports
    import matplotlib.pyplot as plt
    from sklearn.model_selection import train_test_split
    from sklearn import datasets

    def accuracy(y_true, y_pred):
        accuracy = np.sum(y_true == y_pred) / len(y_true)
        return accuracy

    X, y = datasets.make_blobs(
        n_samples=100, n_features=2, centers=2, cluster_std=1.05, random_state=2
    )
    X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size=0.2, random_state=100
    )

    #AP=APerceptron(learn_rate=0.1, n_iter=5)
    #AP.fit(X_train, y_train)
    #pred = AP.predict(X_test)
    
    #roundoff = lambda x: 1 if x > 0.35 else 0 
    
    #pred =  [roundoff(x) for x in pred]

    #print("Perceptron classification accuracy", accuracy(y_test, pred))

In [118]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold
def crossvalidation(X_train, Y_train, splits):
    cv = KFold(n_splits=splits)
    models = []
    for train, test in cv.split(X_train):
        roundoff = lambda x: 1 if x > 0.15 else 0
        x_train = X_train[train]
        y_train = Y_train[train]
        x_val = X_train[test]
        y_val = Y_train[test]

        p = APerceptron()
        p.fit(x_train, y_train)
        pred = p.predict(x_val)
        pred = [roundoff(x) for x in pred]
        print("model accuracy : ",accuracy_score(y_val, pred))
        models.append(p)
    return models

In [119]:
models = crossvalidation(X_train, y_train, 5)

model accuracy :  0.8125
model accuracy :  0.8125
model accuracy :  0.9375
model accuracy :  0.8125
model accuracy :  0.6875

In [120]:
def finalpred(models, X_test):
    Y_pred = np.empty(0, )
    for test in X_test:
        threshold = lambda x: 1 if x > 0.15 else 0
        pred = np.average([models[0].predict(test), 
                   models[1].predict(test),
                   models[2].predict(test),
                   models[3].predict(test),
                   models[4].predict(test)])
        Y_pred = np.append(Y_pred, threshold(pred))
        
    return Y_pred

In [121]:
y_pred = finalpred(models,X_test)

In [122]:
y_test

array([1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1])

In [123]:
from sklearn.metrics import  accuracy_score

accuracy_score(y_test, y_pred)

0.85

In [124]:
from sklearn.linear_model import Perceptron
per=Perceptron(alpha=0.1)

In [125]:
per.fit(X_train,y_train,)
y_pred=per.predict(X_test)

In [126]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred))

1.0

In [127]:
###############################################################################################################################
###############################################################################################################################

In [128]:
class Sigmoid():
    def __call__(self, x):
        return 1 / (1 + np.exp(-x))

    def gradient(self, x):
        return self.__call__(x) * (1 - self.__call__(x))

In [129]:
class Softmax():
    def __call__(self, x):
        e_x = np.exp(x - np.max(x, axis=-1, keepdims=True))
        return e_x / np.sum(e_x, axis=-1, keepdims=True)

    def gradient(self, x):
        ps = self.__call__(x)
        return ps * (1 - ps)

In [130]:
class CrossEntropy():
    def __init__(self): pass

    def acc(self, y, ps):
        return accuracy_score(np.argmax(y, axis=1), np.argmax(ps, axis=1))

    def gradient(self, y, ps):
        # Avoid division by zero
        ps = np.clip(ps, 1e-15, 1 - 1e-15)
        return - (y / ps) + (1 - y) / (1 - ps)
    def  loss(self, y, ps):
        # Avoid division by zero
        ps = np.clip(ps, 1e-15, 1 - 1e-15)
        return - y * np.log(ps) - (1 - y) * np.log(1 - ps)

In [131]:
from sklearn.metrics import accuracy_score
import math
class MultilayerPerceptron():
    
    def __init__(self, n_hidden, n_iterat=10000, learning_r=0.0001):
        self.n_hidden = n_hidden
        self.n_iterat = n_iterat
        self.learning_r = learning_r
        self.hidden_activation = Sigmoid()
        self.output_activation = Softmax()
        self.loss = CrossEntropy()
        
        
        def _initialize_weights(self, X, y):
            n_samples, n_features = X.shape,n_outputs = y.shape
            limit   = 1 / math.sqrt(n_features)
            
            self.W1  = np.random.uniform(-limit, limit, (n_features, self.n_hidden))
            self.W10 = np.zeros((1, self.n_hidden))
            
            limit   = 1 / math.sqrt(self.n_hidden)
            self.W2  = np.random.uniform(-limit, limit, (self.n_hidden, n_outputs))
            self.W20 = np.zeros((1, n_outputs))
            
            
            def fit(self, X, y):
                self._initialize_weights(X, y)
                
                for i in range(self.n_iterat):
                    hidden_in = X.dot(self.W) + self.W10
                    hidden_out = self.hidden_activation(hidden_in)
                    output_in = hidden_out.dot(self.V) + self.W20
                    
                    y_pred = self.output_activation(output_in)
                    
                    
                    grad_wrt_out_l_input = self.loss.gradient(y, y_pred) * self.output_activation.gradient(output_in)
                    grad_W2 = hidden_out.T.dot(grad_wrt_out_l_input)
                    grad_W20 = np.sum(grad_wrt_out_l_input, axis=0, keepdims=True)
                    
                    
                    grad_wrt_hidden_l_input = grad_wrt_out_l_input.dot(self.V.T) * self.hidden_activation.gradient(hidden_in)
                    grad_W1 = X.T.dot(grad_wrt_hidden_l_input)
                    grad_W10 = np.sum(grad_wrt_hidden_l_input, axis=0, keepdims=True)
                    
                    self.W2 -= self.learning_r * grad_W2
                    self.W20 -= self.learning_r * grad_W20
                    self.W1  -= self.learning_r * grad_W1
                    self.W10 -= self.learning_r * grad_W10
                    
                    
                    def predict(self, X):
                        hidden_in = X.dot(self.W1) + self.W10
                        hidden_out = self.hidden_activation(hidden_in)
                        output_in = hidden_out.dot(self.W2) + self.W20
                        y_pred1 = self.output_activation(output_in)
                        return y_pred1
                    
                
                    
                    ML = MultilayerPerceptron(n_hidden=16, n_iterat=10000, learning_r=0.001)
                    ML.fit(X_train, y_train)
                    
                    y_pred1 = np.argmax(ML.predict(X_test), axis=1)
                    y_test = np.argmax(y_test, axis=1)
                    
                    print(accuracy_score(y_test,y_pred1))
                    
                    
                    """"
                    def accuracy_score(y_true, y_pred1):
                        return np.sum(y_true == y_pred1, axis=0) / len(y_true)
                    accuracy = accuracy_score(y_test, y_pred1)
                    
                    print("Accuracy:", accuracy)
                    """

In [132]:
from sklearn.metrics import  accuracy_score

MLPacc = MultilayerPerceptron(y_test,y_pred1)

NameError: name 'y_pred1' is not defined