In [1]:
import pandas as pd

train_data = pd.read_csv("plant-data/plant-train.csv")
test_data = pd.read_csv("plant-data/plant-test.csv")

In [2]:
print(train_data["target/label"].value_counts())
print(test_data["target/label"].value_counts())

setosa       40
virginica    40
Name: target/label, dtype: int64
setosa       10
virginica    10
Name: target/label, dtype: int64

In [3]:
from sklearn.utils import shuffle
train_data = shuffle(train_data)
test_data = shuffle(test_data)

In [4]:
X_train = train_data.loc[:, train_data.columns != 'target/label']
Y_train = train_data.loc[:, train_data.columns == 'target/label']
x_test = test_data.loc[:, test_data.columns != 'target/label']
y_test = test_data.loc[:, test_data.columns == 'target/label']

In [5]:
Y_train.values.ravel()

array(['setosa', 'virginica', 'setosa', 'virginica', 'setosa', 'setosa',
       'virginica', 'setosa', 'setosa', 'virginica', 'setosa', 'setosa',
       'virginica', 'setosa', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'setosa', 'setosa', 'setosa',
       'virginica', 'virginica', 'setosa', 'virginica', 'setosa',
       'setosa', 'virginica', 'virginica', 'virginica', 'setosa',
       'setosa', 'setosa', 'virginica', 'virginica', 'setosa',
       'virginica', 'setosa', 'virginica', 'setosa', 'virginica',
       'virginica', 'virginica', 'virginica', 'setosa', 'setosa',
       'virginica', 'setosa', 'setosa', 'virginica', 'setosa', 'setosa',
       'virginica', 'setosa', 'virginica', 'virginica', 'virginica',
       'setosa', 'setosa', 'virginica', 'setosa', 'setosa', 'virginica',
       'setosa', 'setosa', 'virginica', 'setosa', 'virginica',
       'virginica'], dtype=object)

In [5]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 10, metric='euclidean')

In [6]:
knn.fit(X_train, Y_train)

C:\Users\Smitesh\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(metric='euclidean', n_neighbors=3)

In [7]:
y_pred = knn.predict(x_test)

In [8]:
from sklearn.metrics import accuracy_score, precision_recall_fscore_support

In [9]:
accuracy_score(y_test, y_pred)

1.0

In [11]:
y_test

   target/label
22       setosa
41    virginica
3        setosa
47    virginica
32       setosa
2        setosa
71    virginica
34       setosa
6        setosa
56    virginica

In [12]:
y_pred

array(['setosa', 'virginica', 'setosa', 'virginica', 'setosa', 'setosa',
       'virginica', 'setosa', 'setosa', 'virginica'], dtype=object)