In [1]:
from sklearn.datasets import load_iris

In [2]:
import pandas as pd
x_data = pd.DataFrame(load_iris()['data'])
y_data = pd.DataFrame(load_iris()['target'])

In [3]:
from sklearn.utils import shuffle
data = pd.concat([x_data, y_data], axis=1)
shuffle(data)

       0    1    2    3  0
132  6.4  2.8  5.6  2.2  2
89   5.5  2.5  4.0  1.3  1
58   6.6  2.9  4.6  1.3  1
116  6.5  3.0  5.5  1.8  2
138  6.0  3.0  4.8  1.8  2
..   ...  ...  ...  ... ..
52   6.9  3.1  4.9  1.5  1
147  6.5  3.0  5.2  2.0  2
59   5.2  2.7  3.9  1.4  1
39   5.1  3.4  1.5  0.2  0
142  5.8  2.7  5.1  1.9  2

[150 rows x 5 columns]

In [4]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(data, test_size = 0.2)

In [5]:
X_train = train.iloc[:, [0,1,2,3]]
Y_train = train.iloc[:, [4]]

In [6]:
X_test = test.iloc[:, [0,1,2,3]]
Y_test = test.iloc[:, [4]]

In [7]:
from sklearn.neighbors import KNeighborsClassifier
cb = KNeighborsClassifier(n_neighbors=2)

In [8]:
cb.fit(X_train, Y_train)

C:\Users\Smitesh\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=2)

In [9]:
Y_pred = cb.predict(X_test)

In [10]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_test, Y_pred)

0.9333333333333333