In [1]:
import pandas as pd

In [2]:
data = pd.read_table("wildfires.txt", delim_whitespace=True)

In [ ]:
data.co

In [3]:
from sklearn.model_selection import train_test_split

train_data, test_data = train_test_split(data, test_size=0.3)

In [4]:
X_train = train_data[["temp","humidity","rainfall","drought_code","buildup_index","day","month","wind_speed"]]
Y_train = train_data[['fire']]
X_test = test_data[["temp","humidity","rainfall","drought_code","buildup_index","day","month","wind_speed"]]
Y_test = test_data[['fire']]

In [6]:
data

,fire,year,temp,humidity,rainfall,drought_code,buildup_index,day,month,wind_speed
0,no,2015,28,59,0.0,8.06,3.47,1,6,19
1,no,2010,30,61,1.3,8.17,4.03,2,6,13
2,no,2009,26,83,13.1,8.08,3.59,3,6,22
3,no,2017,25,87,2.5,7.18,2.42,4,6,15
4,no,2014,28,77,0.0,14.98,4.63,5,6,18
...,...,...,...,...,...,...,...,...,...,...
199,yes,2017,31,67,0.0,45.15,17.89,26,9,15
200,no,2017,29,89,4.4,8.74,6.52,27,9,15
201,no,2009,27,88,0.5,8.87,3.71,28,9,30
202,no,2016,25,56,0.1,15.54,6.10,29,9,20
203,no,2012,24,62,0.2,16.72,5.75,30,9,17